:root {
    --orange: #FFBB00;
    --white: #FFFFFF;
    --light: #F2F3B8;
    --silver: #C0C0C0;
    --gray: #808080;
    --dark-transparent: #000000E0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Nunito, Verdana;
}

::selection {
    background: var(--orange);
    color: var(--white);
}

button {
    background: var(--orange);
    padding: 0.3rem;
    color: var(--light);
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--orange);
    font-family: inherit;
    cursor: pointer;
    transition: 0.5s linear all;
}

button:hover,
.buy-item-button:hover {
    background: var(--white);
    color: var(--orange);
}

.modifier {
    width: 2rem;
}

.buy-item-button {
    width: 5rem;
}

.search-reply {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--orange);
    margin-bottom: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.item img {
    align-self: center;
    width: 13em;
}

.item-name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .item {
        width: 17rem;
    }

    .item img {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .item {
        width: 100%;
    }
    input {
        width: 15rem;
    }
}