@keyframes appear {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.slide-show {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 3rem 0;
}

.slide-show-image img {
    width: 18rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 3rem;
    flex: 10rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 905px) {
    .slide-show {
        flex-direction: column;
    }
}
